langchain-text-splitters
langchain-community
langchain-core
langchain-qdrant
langchain-huggingface
langchain-ollama
langchain-google-genai
langchain
unstructured
python-docx
docx2txt
pypdf
python-dotenv
qdrant-client
sentence-transformers
fastapi
uvicorn
streamlit
pydantic
pyvi